* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.25rem;
  font-family: 'Roboto Mono', monospace;
  background: #1d1d1d;
  font-weight: 600;
  line-height: 1.3;
}

.clock-wrapper {
  padding: 0.875rem;
  width: min(500px, 90%);
  height: 150px;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.clock-wrapper,
.clock span,
.date {
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  animation: animate 2s linear infinite;
}

@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}

.clock {
  background-color: #1b1b1b;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem;
  padding: 5%;
}

.clock span,
.date {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.date {
  font-size: 1.5rem;
}

@media (max-width: 500px) {
  .clock-wrapper {
    padding: 0.75rem;
    height: 100px;
  }
  .clock {
    font-size: 2.25rem;
  }
}
